.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh;
  max-height: 200px;
  background: #000000;
  font-size: 2em;
  overflow: hidden;
}


.image{
  width: 250px;
  height: 250px;


}
