.previewTitle {
  font-size: 2em;
  color:#55efc4;
}

.tag {
  color: #55efc4;
  text-decoration: none;
  display: inline-block;
  padding: .33333rem .5rem;
  line-height: 1;
  border-radius: 2px;
  border: 1px solid #55efc4;
  margin-right: .5em;
}
article{
  overflow: hidden;
  border: 1px solid #55efc4;
  margin: 1rem;
  padding: 0.5rem;
  border-radius: 5px;
}article:hover{
  border: 1px solid #ff7675;
  -webkit-box-shadow: 0px 1px 16px -3px rgba(0,0,0,1);
  -moz-box-shadow: 0px 1px 16px -3px rgba(0,0,0,1);
  box-shadow: 0px 1px 16px -3px rgba(0,0,0,1);
  -webkit-transform:scale(1.01);transform:scale(1.01);

}
.image{
  filter: opacity(.2);
  min-height: 150px;
  max-width: 370px;
}


