@charset "utf-8";
//Import elements bulma
@import "../../node_modules/bulma/sass/utilities/_all.sass";
@import "../../node_modules/bulma/sass/layout/_all.sass";
@import "../../node_modules/bulma/sass/grid/_all.sass";
@import "../../node_modules/bulma/sass/form/_all.sass";
@import "../../node_modules/bulma/sass/elements/_all.sass";
@import "../../node_modules/bulma/sass/components/_all.sass";
@import "../../node_modules/bulma/sass/base/_all.sass";
@import "../../node_modules/bulma/bulma.sass";
// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

// Disable the widescreen breakpoint
$widescreen-enabled: false;
// Disable the fullhd breakpoint
$fullhd-enabled: false;

// Set your brand colors
$purple: #fd00a9;
$pink: #ff7675;
$brown: #757763;
$beige-light: #d0d1cd;
$beige-lighter: #dfe6e9;
$greenish:#55efc4;
$yarrow:#fdcb6e;
$breeze:#b2bec3;
$black: #000000;

// Update Bulma's global variables
$family-sans-serif: 'Nunito', sans-serif;
$widescreen-enabled: false;
$fullhd-enabled: false;
$scheme-main: $purple;
$background: hsl(0, 0%, 86%);
$primary: $purple;
$link: $blue;
$info: $cyan;
$success: $green;
$warning: $yellow;
$danger: $red;
$dark: $grey-darker;
$text: $grey-dark;
$background: $pink;
$scheme-main-bis: $purple;
// Update some of Bulma's component variables
$body-background-color: $breeze;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;
$box-background-color: $scheme-main;
$message-header-padding:0.75em;
$message-background-color: $background;
$navbar-item-hover-background-color: $scheme-main-bis;
$font-stack: Helvetica, sans-serif;
$background-primary: #000000;

body {
    background: $black;
    margin-bottom: 1.45rem;
}


//Header and Footer  Style variables
$background: #2d3436;
$backgroundHover: #2d3436;
$padding: 1.5rem;
$sizeFont: 24px;
$textColor: #55efc4;
$textHover: #ff7675;

.header{
    background: $background;
    text-decoration: none;
    .navbar{
        background: $background;
        .navbar-item{
            background: $backgroundHover;
            color:$textColor;
        }
        .navbar-item:hover{
            color: $textHover;
        }
        .logo{
            color: $textColor;
        }.logo:hover{
            color: $textHover;
        }
    }
}
.footer{
    background: $background;
    padding: $padding;
    font-size: $sizeFont;
    text-decoration: none;
    .author{
        color: $textColor;
    }.author:hover{
        color: $textHover
    }
    i{
        color: $textColor;
        padding: 1rem;
        margin: 1rem;
    }i:hover{
        color: $textHover;
    }
}
