@charset "utf-8";
@import "~bulma/bulma";
// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

.header{
    background: #757763;
}

link{
    color: white;
    text-decoration: none;
}
// Disable the widescreen breakpoint
$widescreen-enabled: false;
// Disable the fullhd breakpoint
$fullhd-enabled: false;

// Set your brand colors
$purple: #fd00a9;
$pink: #ff7675;
$brown: #757763;
$beige-light: #d0d1cd;
$beige-lighter: #dfe6e9;
$greenish:#55efc4;
$yarrow:#fdcb6e;
$breeze:#b2bec3;

// Update Bulma's global variables
$family-sans-serif: 'Nunito', sans-serif;
$grey-dark: $brown;
$grey-light: $beige-light;
$primary: $greenish;
$link: $pink;
$success: $greenish;
$widescreen-enabled: false;
$fullhd-enabled: false;
$scheme-main:$beige-lighter;
$background: hsl(0, 0%, 86%);
// Update some of Bulma's component variables
$body-background-color: $breeze;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;
$box-background-color:$scheme-main;
$message-header-padding:0.75em;
$message-background-color:$background;